.blog-container {
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1500px;
    align-items: flex-start;
    justify-content: center;
}


.blog-list {
    width: 70%;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-list__content {
    width: 100%;
}


@media screen and (min-width: 1025px) {
    .blog-list__content:hover .card-item {
        opacity: 0.5;
    }

    .blog-list__content .card-item:hover {
        opacity: 1;
        background: #EAEAEA !important;
    }
}


.blog__featured {
    width: 30%;
    border-left: .1px solid #888;
    padding: 4vh 0 0 4vw;
}

.blog__featured>* {
    margin-bottom: 50px;
}

.blog__tag-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 82%;
    margin-bottom: 5vh;
    flex-wrap: wrap;
}


@media screen and (max-width: 1000px) {
    .blog__featured {
        display: none;
    }

    .blog-list {
        width: 100%;
    }

    .blog__tag-container {
        width: 100%;
        overflow-x: scroll;
    }
}


.blog__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 9px;
    cursor: pointer;
    background: #555;
    color: #EEE;
    font-size: min(max(12px, .5vw), 15px);
    border-radius: 4px;
    box-shadow: .2px .2px .1px #888;
    border: .1px solid #888;
    margin: 3px 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .5s ease-in;
}

.blog__tag--unselect {
    border: .1px dashed #888;
    background: #EEE;
    color: #555;
    box-shadow: none;
}

.blog__tag:hover {
    background: #555;
    border: .1px solid #888;
    color: #EEE;
}

.blog__year {
    text-align: left;
    width: 80%;
    position: relative;
    left: 20px;
    margin-bottom: 20px;
    font-size: 20px !important;
}

.blog__year > span {
    position: relative;
    z-index: 2;
    background: #EEE;
}

.blog__year::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(-20px, 12px);
    border-bottom: 1px solid black;
    z-index: -1;
}
