.blog-container {
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}


.blog-list {
    width: 70%;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog__featured {
    width: 30%;
    border-left: .1px solid #888;
    padding: 4vh 0 0 4vw;
}

.blog__tag-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 82%;
    margin-bottom: 5vh;
    flex-wrap: wrap;
}


@media screen and (max-width: 768px) {
    .blog__featured {
        display: none;
    }

    .blog-list {
        width: 100%;
    }

    .blog__tag-container {
        width: 100%;
        overflow-x: scroll;
    }
}

.blog__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 9px;
    font-size: min(max(12px, .5vw), 15px);
    border-radius: 4px;
    box-shadow: .2px .2px .1px #888;
    border: .1px solid #888;
    color: white;
    margin: 3px 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
