:root {
    --page-top-margin: 68px;
    --page-bottom-margin: 120px;
    --common-card-margin: 10vh;

    --dark-mode-black: #1e1e1e;
    --dark-mode-purple: #491ed3;
    --dark-mode-purple-2: #897ed3;
    --dark-mode-pink: #AA6DA3;
    --dark-mode-blue: #1e90ff;
    --dark-mode-blue-2: #1c7497;
    --dark-mode-font-color: #f2f2f2;

    --light-mode-navbar-color: #EEE;

    --zenburn-mode-navbar-color: #333;
    --dark-mode-background-color: #0d0d0d;
    --zenburn-background: #3F3F3F;
    --zenburn-foreground: #DCDCCC;
    
    --phone-screen-media-selector-width-threshold: 1000px;
}


body {
    background: #EEE;
    font-family: 'Proxima Nova';
    overflow-x: hidden
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem !important;
    }
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.landing-page-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.hero-accordion-button {
    width: 8vw;
    height: 24vh;
    background: rgba(100, 100, 100, .5);
    cursor: pointer;
    transition: opacity .2s ease-in-out
}

.hero-accordion-button:hover {
    opacity: .5;
}


.hero-accordion-left {
    border-radius: 0px 2vw 2vw 0px;
}


.hero-accordion-right {
    border-radius: 2vw 0vw 0vw 2vw;
}

.light-black-text {
    color: #888;
}

.page-body {
    margin-top: var(--page-top-margin);
    margin-bottom: var(--page-bottom-margin);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.fixed {
    position: fixed !important;
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
}


/*****************************************************************************/
/*                                  Buttons                                  */
/*****************************************************************************/


.button {
    position: relative;
    background: var( --dark-mode-purple-2 );
    padding: max(10px, 1vw);
    border-radius: 12px;
    cursor: pointer;
    width: fit-content;
    color: white;
    transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    margin: 5px;
    z-index: 1;
    border: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.button:hover {
    background: var(--dark-mode-blue);
}


.flex-column-centered-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.semi-opaque {
    opacity: .5;
}
