code {
    font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
                 monospace;
}


@font-face {
    font-family: 'Spartan';
    src: url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
}


@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode/FiraCode-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2');
}

body {
    margin: 0;
    background: #EEE;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    with: 100vw !important;
}

html {
    font-family: 'Proxima Nova', ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
