@keyframes blink-eyes {
    0%,35% {
        opacity: 1;
        transform: translate(-70%, 0%);
    }
    36%,39% {
        opacity: 0;
        transform: translate(-70%, 0%);
    }
    40% {
        opacity: 1;
        transform: translate(-70%, 0%);
    }
    50%,65% {
        transform: translate(-140%, 0%);
    }
    66% {
        transform: translate(-70%, 0%);
    }
}

@keyframes expand-body {
    0%,40% {
        transform: scale(1, 1) translate(60%, -25%);
    }
    45%,55% {
        transform: scale(1.1, 1.1) translate(60%, -28%);
    }
    60% {
        transform: scale(0.89, 0.89) translate(60%, -25%);
    }
    65% {
        transform: scale(1, 1) translate(60%, -25%);
    }
    70% {
        transform: scale(0.95, 0.95) translate(60%, -25%);
    }
    75% {
        transform: scale(1, 1) translate(60%, -25%);
    }
}

@keyframes uff {
    0%,40% {
        width: 0px;
        height: 0px;
    }
    50%,54% {
        width: 15px;
        height: 15px;
        left: 30%;
    }
    59% {
        width: 5px;
        height: 5px;
        left: 20%;
    }
    62% {
        width: 2px;
        height: 2px;
        left: 20%;
    }
    67% {
        width: 0px;
        height: 0px;
        left: 30%;
    }
}

@keyframes change-background {
    0%,59%,98%,100% {
        background: #FFF;
    }
    61%,97% {
        background: #000;
    }
}

@keyframes move-left {
    0%,59%,100% {
        width: 0px;
        left: 40%;
    }
    60% {
        width: 30px;
        left: 30%;
    }
    68% {
        width: 0px;
        left: 20%;
    }
}

@keyframes move-top {
    0%,64%,100% {
        width: 0px;
        height: 0px;
        top: 0%;
    }
    65% {
        width: 10px;
        height: 10px;
        top: 40%;
        left: 40%;
    }
    80% {
        width: 0px;
        height: 0px;
        top: 20%;
    }
}

@keyframes shake-left {
    0%,40% {
        left: 20%;
        transform: translate(60%, -15%);
    }
    50%,54% {
        left: 20%;
        transform: translate(60%, -15%);
    }
    59% {
        left: 20%;
        transform: translate(60%, -15%);
    }
    62% {
        left: 18%;
        transform: translate(60%, -15%);
    }
    65% {
        left: 21%;
        transform: translate(60%, -15%);
    }
    67% {
        left: 20%;
        transform: translate(60%, -15%);
    }
}

@keyframes candle-vent-expand {
    0% {
        left: 20%;
        transform: scale(1.15, 0.85) translate(60%, -15%);
        background: #fff;
        border-color: #673C63;
    }
    16% {
        left: 20%;
        transform: scale(1.18, 0.82) translate(60%, -10%);
        background: #F44336;
        border-color: #F44336;
        box-shadow: -2px 0px 0px #F44336 inset;
    }
    17% {
        left: 20%;
        transform: scale(0.85, 1.15) translate(60%, -15%);
    }
    19% {
        left: 20%;
        transform: scale(1.05, 0.95) translate(60%, -15%);
    }
    21% {
        left: 20%;
        transform: scale(1, 1) translate(60%, -15%);
    }
    22% {
        background: #fff;
        border-color: #673C63;
    }
}

@keyframes stick-animation {
    0%,40% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }
    50%,54% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }
    59% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }
    62% {
        left: 50%;
        top: 0%;
        transform: rotateZ(-15deg) translate(-50%, -100%);
    }
    65% {
        left: 50%;
        top: 0%;
        transform: rotateZ(15deg) translate(-50%, -100%);
    }
    70% {
        left: 50%;
        top: 0%;
        transform: rotateZ(-5deg) translate(-50%, -100%);
    }
    72% {
        left: 50%;
        top: 0%;
        transform: rotateZ(5deg) translate(-50%, -100%);
    }
    74%,84% {
        left: 50%;
        top: 0%;
        transform: rotateZ(0deg) translate(-50%, -100%);
    }
    85% {
        transform: rotateZ(180deg) translate(0%, 120%);
    }
    92% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }
}

@keyframes expand-light {
    10%,29%,59%,89% {
        transform: translate(-25%, -50%) scale(0, 0);
        border: 2px solid rgba(255, 255, 255, 0);
    }
    90%,20%,50% {
        transform: translate(-25%, -50%) scale(1, 1);
    }
    95%,96%,26%,27%,56%,57% {
        transform: translate(-25%, -50%) scale(2, 2);
        border: 2px solid rgba(255, 255, 255, 0.5);
    }
    0%,28%,58%,100% {
        transform: translate(-25%, -50%) scale(2.5, 2.5);
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
}

@keyframes dance-fire-transform-off {
    0%,7%,15%,23%,31%,39%,47%,55%, 63% {
        left: 40.8%;
        width: 16px;
        height: 20px;
        background: #FFC107;
    }
    3%,11%,19%,27%,35%,43%,51%,58%,67% {
        left: 41.2%;
        width: 16px;
        height: 20px;
        background: #FF9800;
    }
    69% {
        left: 40%;
        width: 0px;
        height: 0px;
    }
}

@keyframes dance-fire-transform-on {
    0%, 10% {
        width: 0px;
        height: 0px;
    }
    11%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
        left: 40.8%;
        width: 16px;
        height: 20px;
        background: #FFC107;
    }
    15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        left: 41.2%;
        width: 16px;
        height: 20px;
        background: #FF9800;
    }
}

@keyframes dance-fire-on {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
        left: 40.8%;
        width: 16px;
        height: 20px;
        background: #FFC107;
    }
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        left: 41.2%;
        width: 16px;
        height: 20px;
        background: #FF9800;
    }
}

@keyframes changeto-lower {
    0%,10%,30% {
        padding: 0px;
        display: inline-block;
        border-radius: 100%;
        background: #673C63;
        border-width: 0 0 0 0;
        border: 0px solid #673C63;
        transform: translate(-90%, 0%);
    }
    11%,29% {
        background: none;
        border: solid #673C63;
        border-radius: 0px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 1px;
        float: left;
        transform-origin: bottom left;
        transform: rotate(-45deg) translate(-50%, -65%);
        -webkit-transform: rotate(-45deg) translate(-50%, -65%);
    }
}

@keyframes changeto-greater {
    0%,10%,30% {
        top: 50%;
        padding: 0px;
        display: inline-block;
        border-radius: 100%;
        background: #673C63;
        border-width: 0 0 0 0;
        border: 0px solid #673C63;
        transform: translate(-80%, 0%);
    }
    11%,29% {
        top: 30%;
        background: none;
        border: solid #673C63;
        border-radius: 0px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 1px;
        float: left;
        transform-origin: bottom left;
        transform: rotate(135deg) translate(-80%, 20%);
        -webkit-transform: rotate(135deg) translate(-80%, 20%);
    }
}
