.card-item__tags {
    color: #888;
    margin-top: min(1vh, 50px);
    min-height: 7px;
    width: 90%;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    line-height: 2;
}

.card-item__tags>span {
    margin-right: 5px;
    box-shadow: .3px .3px .3px #CCC;
    background: #E9E9E9;
    border: .1px solid #CCC;
    border-radius: 4px;
    font-size: .8em;
    padding: min(3px, .5vw);
}
