.heading__wrapper {
    width: 70vw;
    text-align: left;
}


.gallery-item__container {
    display: grid;
    grid-template-columns: auto auto;
    width: 80vw;
    align-items: flex-start;
    justify-items: center
}


@media screen and (max-width: 1000px) {
    .gallery-item__container {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        width: 100vw;
    }
}
