.heading__wrapper {
    width: 70vw;
    text-align: left;
}


.gallery-item__container {
    display: grid;
    grid-template-columns: auto auto;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
}


@media screen and (max-width: 768px) {
    .gallery-item__container {
        grid-template-columns: auto;
        justify-items: center; 
        align-items: center;
        width: 100vw;
    }
}

@media screen and (min-width: 1600px) {
    .gallery-item__container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 2100px) {
    .gallery-item__container {
        grid-template-columns: auto auto auto auto;
    }
}
