.experience-section-card__text-body {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: .8em;
    color: #888
}

.experience-section-card__image-wrapper {
    display: flex; justify-content: center;
    position: absolute;
    overflow: hidden;
    width: 30%;
    height: 50%;
    align-items: center;
    border-radius: 10px;
    right: 0;
}
    .experience-section-card__image-wrapper>img {
        height: 100%;
        width: 100%
    }

@media screen and (max-height: 850px) {
    .experience-section-card h2 {
        font-size: 12px
    }

    .experience-section-card div {
        font-size: 10px;
        color: #333;
        font-weight: 200
    }

    .experience-section-card__location {
        display: none
    }
}
