.hero-header {
    width: 100vw;
    min-height: 38vh;
    border-bottom: .1px solid #DDD;
    padding: 2vh 5vw;
    margin-bottom: 5vh;
    background: rgb(235, 235, 235);
    backdrop-filter: blur(5px)
}

.hero-header--description {
    color: #555;
    font-size: .96em;
    width: min(85%, 600px);
}

.hero-header__graphics-container {
    position: relative;
    width: min(20vw, 200px);
    height: min(20vw, 250px);
    margin: 0 40px
}
