.blog-content__header {
    width: fit-content;
}

.blog-content {
    --padding-left-right: min( 5vw, 500px );
    --padding-top-bottom: min( 3vh, 200px );
    --margin-top: min(2vh, 200px);
    --margin-left: min(8vw, 500px);
    padding: var(--padding-top-bottom) var(--padding-left-right);
    margin-top: var( --margin-top );
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: var(--margin-left); /* Leave room for table of contents */
    align-items: center;
}

.blog-content-body {
    border-bottom: 1px #CCC solid;
    border-radius: .5vh;
    font-size: 16px;
    width: fit-content;
    text-decoration: none;
    color: #000;
    transition: background .3s ease-in;
}

.blog-content-body pre {
    font-size: max(min( 14px, 1.8vw ), 10px);
    width: 90%;
    white-space: pre-wrap;  /* Allow text to wrap */
    word-wrap: break-word;  /* Allow long words to be broken and wrap onto the next line */
    border: 1px solid #ccc;
    padding: 10px;
}

.blog-content__header>h1 {
    margin-bottom: 12px;
}

.blog-content-body>h1 {
    display: none; /* Hide the title inside the markdown file itself because it already exists from request */
}


.blog-content-body img {
    width: 98%;
    border-radius: 12px;
}

.blog-content__image {
    --blog-content__image-top-bottom-margin: min(10vh, 50px);
    width: 98%;
    height: min(30vh, 400px);
    margin: var(--blog-content__image-top-bottom-margin) var(--blog-content__image-top-bottom-margin);
    object-fit: cover;
    border-radius: 12px;
}

.blog-content__header {
    width: 80%;
}

.blog-content--author-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.card-image--author-info>* {
    margin-right: min(10px, 3vw);
}

.blog-content__wrapper {}

@media screen and (max-width: 768px) {
    .blog-content-body, .blog-content__header {
        min-width: 300px;
        max-width: 800px;
    }

    .blog-content {
        min-width: 90vw;
        margin-left: 0; /* no more table of contents for small sreen */
    }
}

@media screen and (min-width: 768px) {
    .blog-content-body, .blog-content__header {
        min-width: 500px;
        max-width: 1100px;
    }

    .blog-content {
        min-width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .blog-content {
        width: 30vw;
    }
}
