.card-item {
    cursor: pointer;
    text-align: left;
    border-bottom: 1px #CCC solid;
    padding: 2vh 2vw 2vh 2vw;
    border-radius: .5vh;
    width: 90%;
    max-width: 1000px;
}


.card-item__heading {
    margin: 2px 0px !important;
}

.card-item__label {
    color: #333;
    margin: 0
}

.card-item__description {
    color: #888;
}

.card-image-preview {
    position: absolute;
    opacity: .1;
    right: 1%;
    width: auto;
    top: -50%;
    height: 200%;
    box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.9);
    z-index: 0;
    /* transition: all .1s ease-in; */
}

.card-item:hover .card-image-preview {
    right: 1%;
    width: auto;
    top: -52.5%;
    height: 210%;
    opacity: .8;
    -webkit-mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
    mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
}


.card-item p, .card-item h1, .card-item h2, .card-item h3, .card-item h4, .card-item h5, .card-item h6 {
    z-index: 1;
}

.card-image--author-image {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 100%;
}

.card-image--author-info {
    display: flex;
    margin: none;
}

.card-item h3 {
    font-size: min(4vw, 19px);
    text-align: left;
}
