.card-item {
    cursor: pointer;
    text-align: left;
    border-bottom: 1px #CCC solid;
    padding: 2vh 2vw 2vh 2vw;
    border-radius: .5vh;
    width: 90%;
    max-width: 1000px;
}


.card-item__heading {
    margin: 2px 0px !important;
}

.card-item__label {
    color: #333;
    margin: 0
}

.card-item__description {
    color: #888;
}

.card-image-preview {
    position: absolute;
    opacity: .1;
    right: 1%;
    width: min(max(20vw, 200px), 400px);
    top: -50%;
    height: 200%;
    object-fit: cover;
    box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.9);
    z-index: 0;
    -webkit-mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
    mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
    transition: all .1s ease-in;
}

.card-item:hover .card-image-preview {
    right: 1%;
    top: -52.5%;
    height: 210%;
    opacity: .8;
}

.card-item:hover .card-item__heading {
    text-decoration: underline;
}

.card-item p, .card-item h1, .card-item h2, .card-item h3, .card-item h4, .card-item h5, .card-item h6 {
    z-index: 1;
}

.card-image--author-image {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 100%;
}

.card-image--author-info {
    display: flex;
    margin: none;
}

.card-item h3 {
    font-size: min(4vw, 19px);
    text-align: left;
}

.card-item__tags {
    color: #888;
    margin-top: min(1vh, 50px);
    min-height: 7px;
}

.card-item__tags>span {
    margin-right: 5px;
    box-shadow: .3px .3px .3px #CCC;
    background: #E9E9E9;
    border: .1px solid #CCC;
    border-radius: 4px;
    padding: 3px;
}
