\::selection {
    background: rgba(170, 170, 170, 0.3);
}

.sequential-rise-span {
    position: relative;
    width: 100%;
}

.sequential-rise-span > div {
    overflow-y: hidden; overflow-x: visible;
    width: max-content;
}

.sequential-rise-span > div > p {
    width: max-content;
    white-space: nowrap;
    margin: 0;
    line-height: 117%;
}

.slide-up {
    display: inline-block;
    animation: slide-up 0.55s cubic-bezier(0.65, 0, 0.35, 1) both;
    /* visible */
    visibility: visible;
}
