.footer {
    background: #eaeaea;
    width: 100%;
    bottom: 0;
    padding: 4rem 2rem 0;
}

.footer section {
    margin: 0 clamp(.5rem, 1vw, 3rem) 2rem;
    min-height: 130px;
    width: fit-content;
}

.footer__get-in-touch {
    min-width: 20%;
}

.footer__get-in-touch h3 {
    align-self: flex-start
}

.footer__bottom {
    left: 0;
}

.footer textarea, footer input {
    width: 300px;
    padding: .5rem;
    margin-bottom: 10px;
}

.footer textarea {
    resize: none;
    min-height: 100px;
}

textarea:focus, input:focus {
    outline: 0;
}

.footer__connect-with-me>div {
    max-width: 150px;
}

@media screen and (max-width: 1100px) {
    .footer>div {
        flex-direction: column !important;
    }

    .footer section {
        margin: clamp(.9rem, 1vw, 3rem) 0;
    }

    .footer__main {
        width: 50% important;
    }
}
