.featured-section-content {
    --featured-section-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: var(--home-container-small--width);
    max-width: var(--home-container-small--max-width);
    margin-bottom: 10vh; /* Leave room for the candles */
}

@media screen and (max-width: 568px) {
    .featured-section-content {
        flex-direction: column;
    }
}
