.landing-page-card__content {
    text-align: left;
    width: 100%;
}

.landing-page-card__heading {
    margin-top: 8vh;
    padding: 2vw;
}

.landing-page-card {
    --landing-page-card-border-radius: 14px;
    --landing-page-card-margin: 100px;
    --landing-page-card-large--width: 98vw;
    --landing-page-card-large--max-width: 2500px;
    --landing-page-card-large--padding: 2vh;
    --landing-page-card-large--height: calc(97vh - var(--landing-page-card-large--padding)*2);
    --landing-page-card-fit-under-navbar--max-height: 170vw;
    --landing-page-card-box-shadow:  .6px .5px 2.8px #A5A58C;
    --landing-page-card-intro-animation: animate-slide-up-fade-in .1s ease-in;
    position: relative;
    display: flex;
    justify-content: flex-start;
    background: #F9F9F9;
    box-shadow: var(--landing-page-card-box-shadow);
    -webkit-box-shadow: var(--landing-page-card-box-shadow);
    -moz-box-shadow: var(--landing-page-card-box-shadow);
    width: var(--landing-page-card-large--width);
    max-width: var(--landing-page-card-large--max-width);
    height: var(--landing-page-card-large--height);
    margin-bottom: var(--common-card-margin);
    border-radius: var(--landing-page-card-border-radius);
    animation: var(--landing-page-card-intro-animation);
    -moz-animation: var(--landing-page-card-intro-animation);
    -webkit-animation: var(--landing-page-card-intro-animation);
    -o-animation: var(--landing-page-card-intro-animation);
    -ms-animation: var(--landing-page-card-intro-animation);
    padding: var(--landing-page-card-large--padding) 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0.9), 30%, rgba(238,240,255,0.5), 70%, rgba(255,255,255,0.8)), url(https://grainy-gradients.vercel.app/noise.svg);
    background-image: linear-gradient(to right, rgba(255,255,255,0.9), 30%, rgba(252,252,255,0.5), 70%, rgba(255,255,255,0.8)), url(https://grainy-gradients.vercel.app/noise.svg);
}

/* Specialized Classes */
.landing-page-card--fit-content {
    --landing-page-card-fit-content--width: 98vw;
    /* --landing-page-card-fit-content--max-width: 1700px; */
    --landing-page-card-fit-content--height: fit-content;
    width: var(--landing-page-card-fit-content--width);
    max-width: var(--landing-page-card-fit-content--max-width);
    height: var(--landing-page-card-fit-content--height);
}

.landing-page-card--fit-under-navbar {
    --landing-page-card-fit-under-navbar--width: 98vw;
    --landing-page-card-fit-under-navbar--max-width: 1700px;
    --landing-page-card-fit-under-navbar--height: calc(97vh - 100px);
    width: var(--landing-page-card-fit-under-navbar--width);
    max-width: var(--landing-page-card-fit-under-navbar--max-width);
    height: var(--landing-page-card-fit-under-navbar--height);
    max-height: var(--landing-page-card-fit-under-navbar--max-height);
    overflow: hidden;
}


@keyframes animate-slide-up-fade-in {
    0% {
        transform: translateY(3vh);

        opacity: 0
    },
    10% {
        opacity: 1
    },
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.blend-with-background {
    border: none;
    top: -25px;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}
