@media screen and (max-width: 1000px) {
    .hero-section-badge__container {
        display: none !important;
    }
}

@media screen and (min-width: 1000px) {
    .hero-section-badge__container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.hero-section-badge__link {
    margin: 10vh 1rem 0 0;
    transition: all 0.2s ease-in-out;
}

.hero-section-badge__link:hover {
    opacity: 0.6;
    box-shadow: 1px 1px 20px 0px #f5f5dc;
}

.hero-section {
}


.hero-section__wrapper {
}

.hero-section__content {
    margin-bottom: 8vh;
}
