@media screen and (max-width: 1000px) {
    .hero-section-badge__container {
        display: none !important;
    }

    .hero-section__content__left {
        padding: 0 5vw 0 5vw;
    }

    .hero-section__content__right {
        display: flex;
        margin-top: 2vh;
        justify-content: center;
    }

    .hero-section__background__wrapper {
        left: 0;
        top: 0;
        background: transparent;
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 0;
    }
}

@media screen and (min-width: 1000px) {
    .hero-section-badge__container {
        display: flex;
        width: 100%;
        justify-content: center;
    }


    .hero-section__content__left {
        padding: 0 5vw 0 5vw;
        width: 50%;
    }

    .hero-section__content__right {
        display: flex;
        width: 30%;
        justify-content: center;
    }

    .hero-section__content {
        margin-bottom: 8vh;
        display: flex;
        flex-direction: row;
    }

    .hero-section__background__wrapper {
        left: 0;
        background: transparent;
        position: absolute;
        height: 50vw;
        width: 50vw;
        z-index: 0;
    }

    .hero-section__background-one {
        filter: blur(45px);
        left: 50%;
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background: red;
        transition: all .5s ease-in-out;
        opacity: .05
    }


    .hero-section__background-two {
        filter: blur(45px);
        left: 10%;
        top: 20%;
        position: absolute;
        width: 300px;
        height: 200px;
        border-radius: 100%;
        background: blue;
        transition: all .5s ease-in-out;
        opacity: .1
    }


    .hero-section__background-three {
        filter: blur(45px);
        left: 0;
        top: 10%;
        position: absolute;
        width: 300px;
        height: 200px;
        border-radius: 100%;
        background: blue;
        opacity: .1;
        transition: all .5s ease-in-out;
    }

    .hero-section__background-four {
        filter: blur(45px);
        left: 50%;
        top: 0%;
        position: absolute;
        width: 300px;
        height: 100px;
        border-radius: 100%;
        background: blue;
        opacity: .07;
        transition: all .5s ease-in-out;
    }

    .hero-section__background-five {
        filter: blur(45px);
        left: 0%;
        top: -15%;
        position: absolute;
        width: 300px;
        height: 100px;
        border-radius: 100%;
        background: red;
        opacity: .15;
        transition: all .5s ease-in-out;
    }

    .hero-section__background-six {
        filter: blur(55px);
        left: 30%;
        top: -5%;
        position: absolute;
        width: 300px;
        height: 100px;
        border-radius: 100%;
        background: blue;
        opacity: .15;
        transform: rotate(30deg);
        transition: all .5s ease-in-out;
    }

    .hero-section__background__wrapper * {
        z-index: 0;
    }

    .hero-section__background__wrapper *:hover {
        background: purple;
        transform: translate(2vw, 2vw);
    }


}

.hero-section-badge__link {
    margin: 10vh 1rem 0 0;
    transition: all 0.2s ease-in-out;
}

.hero-section-badge__link:hover {
    opacity: 0.6;
    box-shadow: 1px 1px 20px 0px #f5f5dc;
}

.hero-section {
}


.hero-section__wrapper {
}

