:root {
    --home-container-max-width: 1000px
}

.home-container {
    display: flex;
    padding: 3vw 0 3vw;
    justify-content: space-between;
    align-items: center;
    background: #F9F9F9;
    border: 1px solid #EEE;
    box-shadow: 1px 1px 1px #EEE;
    max-width: var(--home-container-max-width);
    width: 90vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    /* height: 40vh; */
    border-radius: 14px;
    /* color: #FFF; */
}
