.table-of-contents {
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--navbar-height) + 15px);
    margin-top: 7vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    width: fit-content;
    height: 70vh;
    overflow: auto;

    font-size: min(max(12px, .5vw), 18px);
    transition: color 1s ease-in;
}

    .table-of-contents div {
        width: 200px;
        text-align: right;
        border-bottom: .1px dashed #DEDEDE;
        cursor: pointer;
        border-radius: 7px;
        border: 1px solid transparent;
        transition: all .2s ease-in;
    }

    .table-of-contents>div:hover {
        color: #333;
        border: 1px solid #333;
    }

@media screen and (max-width: 1400px) {
    .table-of-contents {
        left: 28%;
    }
}

@media screen and (max-width: 1000px) {
    .table-of-contents {
        display: none;
    }
}

.table-of-contents>span {
    cursor: pointer;
}
