.table-of-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    overflow: auto;
}

.table-of-contents div {
    max-width: 150px;
        text-align: right;
        border-bottom: .1px dashed #DEDEDE;
        cursor: pointer;
        border-radius: 7px;
        border: 1px solid transparent;
        transition: all .2s ease-in;
        word-wrap: break-word;
    }

    .table-of-contents>div:hover {
        color: #333;
        border: 1px solid #333;
    }

@media screen and (max-width: 1400px) {
    .table-of-contents {
        left: 28%;
    }
}

.table-of-contents>span {
    cursor: pointer;
}
