.in-progress-block {
    background: rgb(86, 215, 50, 0.95);
    position: relative;
    z-index: 2;
    font-size: .75em;
    color: rgb(0, 43, 16);
    margin-right: 5px;
    padding: 3px 5px 3px 15px;
    display:inline;
    border-radius: 4px;
    margin-left: 4px;
    backdrop-filter: blur(12px);
    box-shadow: .3px .3px .3px #CCC;
}

    .in-progress-block:before {
        content: "";
        position: absolute;
        background: rgb(56, 142, 60); /* A deeper green for the dot */
        border-radius: 100%;
        width: 5px; height: 5px;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
        animation: blink 1s infinite alternate;
        box-shadow: 0px 0px 2px rgb(56, 142, 60)
    }


@media (max-width: 475px) {
    .in-progress-block {
        display: none
    }
}
