.experience-section-parent-container {
    overflow-x: hidden;
    position: sticky;
    top: var(--navbar-height);
    height: calc(99vh - var(--navbar-height));
    transition: all .1s ease-in;
}

.experience-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--common-card-margin)
}


.experience-section {
    width: calc(var(--home-container-width) - 3vw);
    max-width: calc(var(--home-container-max-width) - 3vw);
    display: flex;
    flex-direction: column;
}
    .experience-section--content {
        padding-left: 40vw;
        height: 80vh;
        width: min-content;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    .experience-section--content > * {
        flex-shrink: 0; /* Prevents children from shrinking if space is tight */
    }

    .experience-section-card {
        width: 300px;
        margin: 0 -30px;
        padding: 10px;
        height: fit-content
    }

    .experience-section-card.above {
        margin-bottom: 100px;
        transform: translateY(-50%)
    }

    .experience-section-card.below {
        margin-top: 100px;
        transform: translateY(50%)
    }

    .experience-section-card.below .connecting-line {
        transform: translateY(-100%);
        top: 0;
    }

    .experience-section-card.below .connecting-line:after {
        transform: translateX(-50%) translateY(-50%);
        top: 0;
    }

.experience-section__year {
    z-index: 2;
    box-shadow: .6px .5px 2.8px #A5A58C;
    margin: 0 clamp(80px, 5.5vw, 150px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--dark-mode-pink);
    color: var(--dark-mode-pink);
    font-weight: 600;
    background: #FFF
}

.connecting-line {
    position: absolute;
    height: 50px;
    left: 50%;
    top: 100%;
    width: .5px;
    box-shadow: var(--landing-page-card-box-shadow);
    background-color: #000;
}

.timeline__line {
    position: relative;
    height: 2px;
    box-shadow: 1px 1px 1px 0 black;
    background-color: #000;
}

.connecting-line:after {
    content: "";
    position: absolute;
    transform: translateX(-50%) translateY(50%);
    bottom: 0;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: var(--dark-mode-pink)
}

@media screen and (max-height: 750px) {
    .experience-section-card {
        width: 220px;
    }

    .experience-section-card div {
        font-size: 10px;
        color: #333;
        font-weight: 200;
    }

    .experience-section-card h2 {
        font-size: 12px
    }

    .experience-section-card__location {
        display: none
    }
}

