.experience-section--content {
    padding-left: 40vw;
    width: min-content;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.timeline__line {
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: -1;
    top: 50%;
    border-top: 1px solid #aeaeae;
}

.experience-section-parent-container {
    overflow-x: hidden;
    position: sticky;
    top: var(--navbar-height);
    height: calc(95.5vh - var(--navbar-height));
    transition: all .1s ease-in;
}

.experience-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--common-card-margin);
}

.experience-section--content > * {
    flex-shrink: 0; /* Prevents children from shrinking if space is tight */
}

.experience-section {
    width: calc(var(--home-container-width) - 3vw);
    max-width: calc(var(--home-container-max-width) - 3vw);
    display: flex;
    flex-direction: column;
}

.experience-section-card.below {
    margin-top: 40vh;
}


.experience-section-card {
    width: 300px;
    margin: 0 5px;
    height: fit-content;
    padding: 8px;
    position: relative;
}


@media screen and (max-height: 850px) {
    .experience-section-card {
        width: 260px;
        height: 200px;
    }

    .experience-section-card div {
        font-size: 10px;
        color: #333;
        font-weight: 200;
    }

    .experience-section-card__location {
        display: none;
    }
}

.experience-section-card__text-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
