.experience-section-content-container {
    width: auto;
    width: min-content;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 !important;
}

.timeline-line {
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: -1;
    top: 50%;
    border-top: 5px dotted #aeaeae;
}

.experience-section-parent-container {
    overflow-x: hidden;
    text-align: left;
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
}

.experience-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: var(--common-card-margin);
}

.experience-section-content-container > * {
    flex-shrink: 0; /* Prevents children from shrinking if space is tight */
}

.experience-section-timeline-line {
    width: calc(400px * 12);
    height: 10px;
    background: #000;
    display: none;
}

.experience-section-container {
    width: calc(var(--home-container-width) - 3vw);
    max-width: calc( var(--home-container-max-width) - 3vw);
    display: flex;
    flex-direction: column;
    width: calc(var(--home-container-width) - 3vw);
}

.experience-section-card.below {
    margin-top: 40vh;
}


