.selected-navlink-window {
    --selected-navlink-window-color: #DDD;
    opacity: 0;
    transform: translateX(var(--dynamic-translate));
    width: var(--navbar-item-width);
    max-width: var(--navbar-item-max-width);
    padding: var(--navbar-item-padding);
    color: var(--selected-navlink-window-color);
    border-radius: var(--navbar-item-border-radius);
    background: var(--selected-navlink-window-color);
    transition: transform 0.2s ease-in-out;
}


.navbar {
    --navbar-width: 100%;
    --navbar-height: 61px; /* Fallback value, real value determined inside Navbar.tsx */
    --navbar-submenu-height: 120px;
    --navbar-max-height: 93px;
    --progress-height: 3.5px;
    --navbar-item-border-radius: 4px;
    --navbar-item-width: 8.5vw;
    --navbar-item-max-width: 180px;
    --navbar-item-margin: 0.1vw;
    --navbar-item-padding: 10px 0 10px;
    --navbar-transition: background .2s ease-in-out, box-shadow .1s ease-in-out, transform .1s ease-in-out;
    top: 0;
    z-index: 10;
    position: absolute;
    background: transparent;
    transition: var(--navbar-transition);
    -webkit-transition: var(--navbar-transition);
    -moz-transition: var(--navbar-transition);
    width: var(--navbar-width);
    box-sizing: border-box;
}

.navbar-left {
    padding: 10px 0;
    width: 85vw
}

.navbar-left>a:hover ~ .selected-navlink-window {
    opacity: 1;
}


.navbar-item {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    padding: var(--navbar-item-padding);
    width: var(--navbar-item-width);
    max-width: var(--navbar-item-max-width);
    transition: background .3s ease-in;
    border-radius: var(--navbar-item-border-radius);
    z-index: 1;
    font-family: 'TT Norms Pro', Spartan, 'Poppins', sans-serif;
    margin-left: var(--navbar-item-margin);
    transition: all .2s ease-in;
}

.navbar-item:active {
    transform: translateY(5px);
}

.navbar-item__dropdown {
    --dropdown-top-offset: 12px;
    box-sizing: content-box;
    position: fixed;
    border: .1px solid #CCC;
    opacity: 0; display: none;
    align-items: center;
    top: calc( var(--navbar-height) - var(--dropdown-top-offset));
    width: 200px;
    padding: 10px;
    border-radius: 12px;
    background: rgb(250,250,250);
    backdrop-filter: blur(28px);
}

.navbar-item__dropdown > .navbar-item {
    padding: var(--navbar-item-padding) 5px;
    width: 180px;
    justify-content: space-between;
    margin-bottom: 1px;
    text-shadow: none
}

.navbar-item__dropdown > .navbar-item:hover {
    color: #FEFEFE !important;
    background: var(--dark-mode-blue);
    text-shadow: none
}

.show-navbar-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1
}

@media screen and (max-width: 900px) {
    .navbar-left {
        display: none !important
    }

    .navbar-content svg {
        stroke: rgba(0, 0, 0, .35);
    }
}


.hidden {
    transform: translateY(calc(var(--navbar-height)));
    transform: translateY(-59px); /* For some reason the above doesn't work so I put this here for now */
}

.detached {
    position: fixed;
    backdrop-filter: blur(12px);
    background: rgba(220,220,220, .4);
    box-shadow: .1px .1px 1px #888;
}

.detached .navbar-content .navbar-left .navbar-item {
    color: #000;
    font-weight: 500
}

.detached .navbar-item {
    text-shadow: 1px 1px 3px rgba(255, 255, 210, 0.2), -1px -1px 3px rgba(255, 250, 210, .2);
}

.detached .logo {
    background: linear-gradient(
        90deg,
        #1e90ff 0%,
        #491ed3 50%,
        #1e90ff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: #1E1E1E;
    background-clip: text;

    text-fill-color: transparent;
    background-size: 200% auto;
    animation: animateBg 3s linear infinite;
}


.logo {
    --font-weight-bold: 400;
    --font-size-large: 20px;
    display: inline-block;
    font-family: 'Proxima Nova Bold',Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    background: linear-gradient(
        90deg,
        #00bfff 0%,
        #4f87f7 35%,
        #897ed3 50%,
        #4f87f7 65%,
        #00bfff 100%
    );
    background-size: 200% 200%;
    width: 220px;
    background-clip: text;
    text-align: center;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateBg 10s linear infinite;
    image-rendering: geometricPrecision;
    -webkit-image-rendering: geometricPrecision;
    -moz-image-rendering: geometricPrecision;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #1E1E1E;
}

.logo__wrapper {
    animation: fade-in--up .3s ease-in-out;
}



@keyframes animateBg {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#scroll-progress {
    position: absolute;
    height: var(--progress-height);
    z-index: 11;
    width: 100vw;
    border-radius: 0 0 20px 0;
    background: linear-gradient(to right,  var(--dark-mode-purple-2), 90%, #00bfff);
    transition: background .3s ease-in, color .3s ease-in;
    color: transparent;
}

    .scroll-progress-complete {
        display: flex; align-items: center; justify-content: center;
        cursor: pointer;
        font-size: 3rem;
        color: #FFF !important;
        position: fixed !important;
        width: 100px !important;
        height: 100px !important;
        border-radius: 50%;
        right: 10px;
        top: 100vh;
        transform: translateY(-50%);
    }

.active-link {
    background: var(--dark-mode-purple-2);
    color: #FEFEFE !important;
    text-shadow: none !important;
}
