:root {
    --selected-navlink-window-color: #888;
    --navbar-width: 100%;
    --navbar-height: 61px;
    --navbar-submenu-height: 120px;
    --navbar-max-height: 93px;
    --progress-height: 3.5px;
    --navbar-item-border-radius: 4px;
    --navbar-item-width: 10vw;
    --navbar-item-margin: 0.1vw;
    --default-select-navlink-width-transform: translateX(calc(-6*( var(--navbar-item-width) + var(--navbar-item-margin)) + var(--navbar-item-margin) ));
    --navbar-item-padding: 10px 0 10px;
    --burger-panel-y-position: translateY(0)
}

.selected-navlink-window {
    width: var(--navbar-item-width);
    padding: var(--navbar-item-padding);
    color: var(--selected-navlink-window-color);
    border-radius: var(--navbar-item-border-radius);
    transform: var( --default-select-navlink-width-transform );
    background: var(--selected-navlink-window-color);
    opacity: 0;
    z-index: 0;
}

.navbar-left a:nth-child(1):hover ~ .selected-navlink-window {
    transform: translateX(calc(-6*( var(--navbar-item-width) + var(--navbar-item-margin)) + var(--navbar-item-margin) ));
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navbar-left a:nth-child(2):hover ~ .selected-navlink-window {
    transform: translateX(calc(-5*( var(--navbar-item-width) + var(--navbar-item-margin)) + var(--navbar-item-margin) ));
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navbar-left a:nth-child(3):hover ~ .selected-navlink-window {
    transform: translateX(calc(-4*( var(--navbar-item-width) + var(--navbar-item-margin)) + var(--navbar-item-margin) ));
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navbar-left a:nth-child(4):hover ~ .selected-navlink-window {
    transform: translateX(calc(-3*( var(--navbar-item-width) + var(--navbar-item-margin)) + var(--navbar-item-margin) ));
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navbar-left a:nth-child(5):hover ~ .selected-navlink-window {
    transform: translateX(calc(-2*( var(--navbar-item-width) + var(--navbar-item-margin)) + var(--navbar-item-margin) ));
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navbar-left a:nth-child(6):hover ~ .selected-navlink-window {
    transform: translateX(calc(-1*( var(--navbar-item-width) )));
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navbar-item {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    padding: var(--navbar-item-padding);
    width: var(--navbar-item-width);
    transition: background .3s ease-in;
    border-radius: var(--navbar-item-border-radius);
    z-index: 1;
    margin-left: var(--navbar-item-margin);
}

.navbar-submenu-item:hover {
    background: var(--zenburn-foreground);
}

.navbar {
    top: 0;
    z-index: 10;
    position: absolute;
    background: var(--zenburn-mode-navbar-color);
    transition: background 1s ease-in-out, box-shadow .1s ease-in-out, transform .1s ease-in-out;
    -webkit-transition: background .1s ease-in-out, box-shadow .5s ease-in-out, transform .2s ease-in-out;
    -moz-transition: background .1s ease-in-out, box-shadow .5s ease-in-out, transform .2s ease-in-out;
    width: var(--navbar-width);
    /* height: var(--navbar-height); */
    box-sizing: border-box;
    border-bottom: 1px solid #FFF;
}

.navbar-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 900px) {
    .navbar-burger, .navbar-burger-icon {
        display: none;
    }

    .nav-burger-panel {
        display: none;
    }

    .navbar-left {
        padding: 10px;
        display: flex;
        margin-left: 0vw;
        width: 75vw;
        overflow-x: hidden;
        justify-content: flex-start;
        flex-direction: row;
    }
}

@media screen and (max-width: 900px) {
    .navbar-left {
        display: none;
    }

    .nav-burger {
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.1);
        border: .1px solid rgba(255, 255, 255, 0.3);
    }

    .nav-burger-panel {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 100;
        right: 0;
        width: 30%;
        padding-top: 5vh;
        height: 100%;
        background: var(--dark-mode-black);
        transition: transform .2s ease-in-out;
        transform: translateY(var(--burger-panel-y-position));
    }

    .nav-burger-panel-move-lower {
        --burger-panel-y-position: var(--navbar-height);
    }

    .burger-item {
        color: #FFF;
        padding: 2px;
        margin: 2px;
        width: 27vw;
        border-radius: 5px;
        text-decoration: none;
    }

    .nav-burger-panel-hide {
        transform: translate(100%, var( --navbar-height )) !important;
    }
}


.hidden {
    transform: translateY(calc(-var(--navbar-height)));
    transform: translateY(-61px); /* For some reason the above doesn't work so I put this here for now */
}

.detached {
    position: fixed;
    backdrop-filter: blur(18px);
    background: rgba(210,210,210,.5);
    box-shadow: 1px 1px 3px #888;
    border-bottom: none;
}

.detached .navbar-content .navbar-left .navbar-item {
    color: #000;
    font-weight: 700;
}

.detached .navbar-submenu {
    background: rgba(250,250,250,0.2);
    backdrop-filter: blur(8px);
}

.detached .navbar-submenu .navbar-item {
    color: black;
}

:root {
    --primary-font: 'Proxima Nova Bold', monospace;
    --font-weight-bold: 900;
    --font-size-large: 20px;
}

.logo {
    display: inline-block;
    font-family: var(--primary-font);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    background: linear-gradient(
        90deg,
        #00bfff 0%,
        #4f87f7 35%, 
        #897ed3 50%, 
        #4f87f7 65%, 
        #00bfff 100%
    );
    background-size: 200% 200%;
    width: 220px;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateBg 10s linear infinite;
    image-rendering: geometricPrecision;
    -webkit-image-rendering: geometricPrecision;
    -moz-image-rendering: geometricPrecision;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #1E1E1E;
}

.detached .navbar-content .nav-burger {
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, .5)
}

.detached .navbar-content svg {
    stroke: rgba(0, 0, 0, .35);
}

.detached .navbar-content .logo {
    background: linear-gradient(
        90deg,
        #1e90ff 0%,
        #491ed3 50%,
        #1e90ff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: #1E1E1E;
    background-clip: text;
    text-fill-color: transparent;
    background-size: 200% auto;
    animation: animateBg 3s linear infinite;
}

@keyframes animateBg {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#scroll-progress {
    position: absolute;
    background: #00bfff;
    box-shadow: 0px 0px min( 5px, .5vh ) #00bfff;
    height: var(--progress-height);
    z-index: 11;
    width: 100vw;
}

.active-link {
    background: var(--dark-mode-purple-2);
}

/*****************************************************************************/
/*                                  Submenu                                  */
/*****************************************************************************/

.navbar-submenu {
    align-items: center;
    width: var(--navbar-width);
    background: var(--zenburn-background);
    height: var(--navbar-submenu-height);
    display: none;
    opacity: 0;
    transition: 
        background 1s ease-in-out,
        box-shadow 0.5s ease-in-out,
        transform 0.2s ease-in-out,
        opacity 1s ease-in,
        height 1s ease-in;
}

.show-navbar-submenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
}

