.gallery-item {
    transition: transform .1s ease-in, opacity .1s ease-in;
    transform: translateX(30px);
    width: 400px; height: fit-content; min-height: 320px;
    margin: 15px 10px; /* When not showing on grid */
    background-color: rgba(220, 220, 220, 0.3) !important;
    min-height: 360px;
    border-radius: 4px !important;
    overflow: hidden;
    padding-bottom: 5px
}

.gallery-item>h3 {
}

.initially-hidden {
    opacity: 0;
}

.initially-hidden-show {
    animation: fadeIn 1s ease-in forwards; /* Use forwards to retain the final state of the animation */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1300px) {
    .gallery-item {
        width: 300px;
        max-width: 90vw;
        min-height: 140px;
    }
}

.gallery-item p {
    width: 90%;
    text-align: left;
    padding: 0;
    margin: 0;
    color: #555;
    font-size: 14px;
}

.gallery-item h3 {
    width: 90%;
    font-size: clamp(1.2rem, 1.3vw, 2rem);
    margin-bottom: 2px;
    text-align: left;
}

.gallery-item__image {
    width: 100%;
    height: min( 40vw, 200px );
    object-fit: cover;
    border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
	  display: block;
	  transition: width 200ms ease-out;
}


.gallery-item:hover .gallery-item__image {
    width: 110%;
}




.gallery-item__image:hover {
    cursor: grabbing;
}


.gallery-item__metadata {
}

.gallery-item__type {
    height: 60px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    position: absolute;
    left: -1px; top: -1px;
    transform: rotate(-45deg) translateX(-50%);
    transform-origin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.gallery-item__type>* {
    /* transform: rotate(45deg); */
    width: 22px;
    height: 25px;
}

.gallery-item__type span {
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.gallery-item:hover .gallery-item__type>* {
    animation: bounce 2.2s infinite;
}

@keyframes bounce {
    10% {
        transform: translateY(5px);
    }
    20% {
        transform: translateY(-5px);
    }
    30% {
        transform: translateY(3px);
    }
    60% {
        transform: translateY(-3px);
    }
    70% {
        transform: translateY(1px);
    }
    80% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(0px);
    }
}
