.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 400px;
    height: min( 60vw, fit-content );
    padding-bottom: 10px;
    margin: 10px 0;
    overflow: hidden;
    border: .1px solid #AEAEAE;
}

.gallery-item p {
    width: 90%;
    text-align: left;
    color: #888;
    margin: 0;
    font-size: max(min(1vw, 12px), 10px);
}

.gallery-item h3 {
    width: 90%;
    font-size: max(min(2vw, 19px), 12px);
    text-align: left;
}

.gallery-item__image {
    width: 100%;
    height: min( 40vw, 200px );
    object-fit: cover;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	  display: block;
	  transition: width 200ms ease-out;
}


.gallery-item:hover .gallery-item__image {
    width: 110%;
}


.gallery-item__image:hover {
    cursor: grabbing;
}


@media screen and (max-width: 768px) {
    .gallery-item__container {
        display: grid;
        grid-template-columns: auto;
        justify-items: center; 
        align-items: center;
        width: 100vw;
    }

    .gallery-item {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 250px;
        max-width: 90vw;
        min-height: 140px;
        height: fit-content;
        padding: 10px;
        margin: 10px;
        border: .1px solid #AEAEAE;
    }
}
