.wave__container {
  position: absolute;
  width: 200%;
  transform: translate(-25%, 40%) scale(170%, 90%);
  height: 50px;
  left: 0;
  top: 120%;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .wave__container {
        transform: translate(-25%, 40%);
        top: 90%;
    }
}

.wave {
    animation: drift 80s infinite linear;
    opacity: 0.4;
    position: absolute;
    top: 4%;
    left: 45%;
    border: 1px solid #0af;
    width: 110%; 
    height: auto;
    padding-bottom: 100%;
    margin-left: -50%;
    transform-origin: 50% 48%;
    border-radius: 43%;
    transition: all 1s ease-in;
}

.wave:hover {
    background: #0af;
}

.wave.-three {
    --red-component: 0;
    --green-component: 0;
    --blue-component: 0;
    --alpha-component: 0;
    border: .8px solid black;
    transform: rotate(20deg);
    background-color: rgba(var(--red-component), var(--green-component), var(--blue-component), var(--alpha-component));
    animation: drift 66s infinite linear;
}

.wave.-three:hover {
    background: black;
}

.wave.-two {
    --red-component: 255;
    --green-component: 255;
    --blue-component: 0;
    animation: drift 69s infinite linear;
    opacity: 0.1;
    transform: rotate(80deg);
    border: 1px solid orange;
}

.wave.-two:hover {
    background: yellow;
}

.wave.-four {
    --red-component: 73;
    --green-component: 30;
    --blue-component: 211;
    animation: drift 123s infinite linear;
    opacity: 0.2;
    transform: rotate(360deg);
    border: 1px solid var(--dark-mode-purple);
}

.wave.-four:hover {
    background: var(--dark-mode-purple);
}

@keyframes drift {
    20% {
        transform: rotate(0deg);
        /* background-color: rgba(var(--red-component), var(--green-component), var(--blue-component), .2); */
    }
    50% {
        
        transform: rotate(180deg);
        /* background-color: rgba(var(--red-component), var(--green-component), var(--blue-component), 0); */
    }
    100% {
        transform: rotate(360deg);
        /* background-color: rgba(var(--red-component), var(--green-component), var(--blue-component), .2); */
    }
}
