.wave__container {
  position: absolute;
  display: none;
  width: 200%;
  height: 50px;
  left: 0;
  transform: translate(-25%, 40%) scale(170%, 40%);
  top: 90%;
  border-radius: 5px;
}


@media screen and (min-width: 2400px) {
    .wave__container {
        transform: translate(-25%, 40%) scale(210%, 40%);
        top: 95%;
    }
}

@media screen and (max-width: 1000px) {
    .wave__container {
        transform: translate(-25%, 40%);
        top: 90%;
    }
}

.wave {
    opacity: 0.4;
    position: absolute;
    top: 4%;
    left: 45%;
    width: 110%;
    height: auto;
    padding-bottom: 100%;
    margin-left: -50%;
    transform-origin: 50% 48%;
    border-radius: 43%;
}

.wave.-one {
    --target-rotation: 20deg;
    border: 1px solid #0af;
    transform: rotate(var(--target-rotation));
    background-color: rgba(0, 85, 170, 0.8);
    /* animation: drift 66s infinite linear; */
    animation: drift 2s ease-out;
}

.wave.-three {
    --red-component: 0;
    --green-component: 0;
    --blue-component: 0;
    --alpha-component: .1;
    --target-rotation: 120deg;
    transform: rotate(var(--target-rotation));
    border: .8px solid black;
    background-color: rgba(var(--red-component), var(--green-component), var(--blue-component), var(--alpha-component));
    animation: drift 1s ease-out;
}

.wave.-two {
    --red-component: 255;
    --green-component: 85;
    --blue-component: 0;
    --alpha-component: 0.8;
    --target-rotation: 160deg;
    opacity: 0.1;
    transform: rotate(var(--target-rotation));
    border: 1px solid orange;
    background-color: rgba(var(--red-component), var(--green-component), var(--blue-component), var(--alpha-component));
    /* animation: drift 69s infinite linear; */
    animation: drift 3s ease-out;
}

.wave.-four {
    --red-component: 73;
    --green-component: 30;
    --blue-component: 211;
    --alpha-component: .9;
    --target-rotation: 110deg;
    opacity: 0.2;
    transform: rotate(var(--target-rotation));
    border: 1px solid var(--dark-mode-purple);
    background-color: rgba(var(--red-component), var(--green-component), var(--blue-component), var(--alpha-component));
    animation: drift 2s ease-out;
}

@keyframes drift {
    20% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(--target-rotation);
    }
}
